<div>
  <h2>Big Board</h2>
  <table class="blue-bg rounded-blk-border white">
    <thead>
    <tr class="yellow">
      <th>Rank</th>
      <th>Player</th>
      <th>Character</th>
      <th>Average</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <a *ngFor="let player of rankings; let i=index"
       [class.selected]="player === selectedPlayer"
       (click)="onSelect(player, $event)"
       class="table-row light-blue-hover"
       href="/player/{{player.id}}">
      <td>{{ i + 1 }}</td>

      <td *ngIf="player.name === '<Unknown>';else known_name">Computah</td>
      <ng-template #known_name><td>{{player.name}}</td></ng-template>

      <td *ngIf="player.character === '<Unknown>';else known_character">Da Computah</td>
      <ng-template #known_character><td>{{player.character}}</td></ng-template>

      <td>{{player.average}}</td>
      <td><img src="{{player.image}}"></td>
    </a>
    </tbody>
  </table>
</div>


